/* Selector 
{
    Property: Value;   
}*/

body {
    background-image: url();
    background-size: cover;
}

h2 {
    color: #540094;
    text-align: center;
    border: 5px solid black;
    cursor: pointer;
}
p{
    color: pink;
}

li{
   list-style: none;
   display: inline-block;
}